<a href="https://colab.research.google.com/github/abulzunayed/Machine-Learning_Course_Udemy-A-Z-with-Python_2023-/blob/main/Deep%20learning/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [ ]:
tf.__version__

'2.9.2'

## Part 1 - Data Preprocessing

### Importing the dataset

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/ML AtoZ/Deep Learning/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [ ]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [ ]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling.     
# Always use Feature scaling in all Deep learning

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [ ]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))    # units= number of output class, Here, bineary output either 0 or 1. For bineary classifier use sigmoid.

## Part 3 - Training the ANN

### Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8633
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8636
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8629
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8643
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8626
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8651
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8675
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8630
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8634
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8637
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8634
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8662
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8655
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8641
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8633
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8652
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8637
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8644
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8648
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8641
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8640
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8639
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8648
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8651
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8629
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8636
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8637
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8634
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8655
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8643
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8648
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3352 - accuracy: 0.8645
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8644
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8635
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8645
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8649
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8650
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8640
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8645
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8640
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8644
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8648
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8643
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8649
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8646
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8654
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8634
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8643
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8633
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8649
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8634
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8649
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8641
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8660
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8662
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8640
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8644
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8637
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8633
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8644
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8649
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8645
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8654
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8645
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8646
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8644
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8630
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8648
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8649
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8645
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8639
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8645
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8643
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8644
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8629
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8659
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8645
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8635
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8650
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8639
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8648
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8644
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8654
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8645
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8637
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8640
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8649
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8658
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8651
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8645
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8656
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8656
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8648
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8649
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8641
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8640
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8654
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8651
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8648

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [ ]:
# Always remenber that [[]] is 2D method means that row and col.

print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 17ms/step
[[ True]]

without Theshold value(>0.5) either it gives  0 or 1 in terms of sigmoid, it predicts wrong values

In [ ]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))  )   # This is wrong value

1/1 [==============================] - 0s 19ms/step
[[1.]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1518   77]
 [ 201  204]]

0.861